.content-section{
    background-color: white;
    text-align: left;
    width: 1150px;
    margin-left: 110px;
    border-radius: 45px;
    height: 400px;
    margin-top: 50px;
}
form{
    margin-left: 100px;
    margin-top: -20px;
}
.media-body{
    text-align: center;
    margin-top: 30px;;
    background-color: skyblue;
    border-radius: 45px;
    height: 300px;
    margin-right: 50px;
    margin-left: 20px;
    
}
.body{
    background-color: skyblue;
}
#img2{
    margin-left: 100px;
    margin-top: 30px;
    border:2px solid skyblue;
}
input[type=submit]{
    margin-top: 20px;
    
}
.text-secondary,.account-heading{
    text-align: left;
    margin-left:30px;
}