<!DOCTYPE html>
<html lang="en">
{% extends 'home.html' %}
{% load static %}
<head>
{% block content %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<table class="table" style="color:white;">
<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Items</th>
      <th scope="col">BookName</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
    {%for i in dt%}
   
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.Items}}</td>
      <td>{{i.BookName}}</td>
      <td>{{i.Price}}</td>
      
    </tr>
    
    {% endfor %}
  </tbody>
  {% endblock %}
</body>
</html>