<!DOCTYPE html>
<html lang="en">
{% extends 'sellerhome.html' %}
{% load static %}
<head>
{% block content %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<table class="table" style="color:white;">
<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Items</th>
      <th scope="col">BookName</th>
      <th scope="col">Price</th>
      <th scope="col">Buyer</th>
      <th scope="col">Address</th>
      <th scope="col">Mobile</th>
    </tr>
  </thead>
    {%for i in dt%}
   {% if i.Buyers != ""%}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.Items}}</td>
      <td>{{i.BookName1}}</td>
      <td>{{i.Price}}</td>
      <td>{{i.Buyers}}</td>
      <td style="width:300px;">{{i.BuyerAddr}}</td>
      <td>{{i.Mobile}}</td>
      
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
  {% endblock %}
</body>
</html>